body{
    background-color: papayawhip;
  }
  .navbar{
    background-color: #650729;
    /* color: white; */
  }

  .btn{
    background-color: #c70d51;
    color: white;
    font-size: 20px;
    /* padding: 20px; */
    font-family: Baskerville Old Face;
    border-radius: 30px;
  }
  .text{
    text-decoration: none;
    /* height: 20px; */
  }

  .btn:hover{
    background: radial-gradient(darksalmon, rgb(225, 100, 159));
  }


  .navbar-brand{
    color: white;
    font-family: Baskerville Old Face;
    /* font-weight: bold; */
    font-size: 20px;

  }

  .navbar-brand:hover{
    color: white;
  }

  /* .navbar-nav{
      display: flex;
      justify-content: space-between;
      padding: 20px;
    } */
  .nav-link{
    color: white;
    justify-content: space-between;
  }

  .nav-item:hover{
    /* background-color: rgb(180, 39, 104); */
    background: radial-gradient(darksalmon, rgb(225, 100, 159));
    border-radius: 30px;
    color: white;

  }

  .nav-item{
    font-size: 20px;
    padding: 15px;
    font-family: Baskerville Old Face
  }
      .form-container {
          background: white;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 10px 10px rgba(9, 0, 0, 0.1);
          text-align: center;
          width: 70%;
          border: 2px solid black;
          border-radius: 30px;
          background-image: url('images/shadi1.jpg');
          background-position: center;
          background-size: cover;
       margin: auto;
      }
      .form-container h1 {
          color: #000205;
          margin-bottom: 10px;
         
      }
  .form-container p {
          color: #f6f9fd;
          font-size: 34px;
          margin-bottom: 20px;
          font-size: 300%;
          font-family:  Brush Script MT;
      }
      input, select {
          width: 100%;
          padding: 8px;
          margin: 10px 0;
         
          /* border-radius: 4px; */
          font-size: 20px;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid black;
          outline: none;
          color: rgb(250, 241, 241);
      }
      .gender {
          display: flex;
          justify-content: space-between;
          color: rgb(237, 232, 232);
          background-color: transparent;
         
      
      }
      .gender label {
          font-size: 14px;
      }
      .gender input {
          margin-right: 5px;
          color: #000205;
          border: none;
          border-bottom: 2px solid black;

          border-color: transparent;
      }
      .form-container input::placeholder{
        color: white;
      }
     .form-container button {
        width: 40%;
      justify-content: center;
      margin-left: 25%;
      height: 0px;
      background-color: palevioletred;
      color: black;
      padding: 20px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 3px solid black;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      font-family: Bodoni MT Black;
      font-size: 20px;
      }
     .form-container button:hover {
          background-color: pink;
      border: 2px solid black;
      box-shadow: 2px 2px;
      transform: scale(1.1);
      font-family: Bodoni MT Black;
      }
      .footer {
    background-color: #650729;
    font-family: Baskerville Old Face;
  }

  .mb-3 {
    background-color: rgba(255, 192, 203, 0.416);
    /* width: 100px; */
    text-align: center;
    border-radius: 15px;
  }

  p {
    text-align: center;
  }

  ul {
    text-align: center;
   
}
/* @media only screen and (max-width:480px){
.form-container{
width: 100%;
margin-left: 15%;
} 
.navbar-brand{
font-size: 20px;

}
.navbar-nav{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.nav-item{
margin-bottom: 10px;

}
.mb-3{
width: 100%;
}
.footer{
font-size: 20px;
}
.form-container button{
width: 100%;
margin-left: 0;
}
}
 */
 .nav-link:hover{
    color: black;
    /* font-style: italic; */
  }
 .img-hvr:hover{
width: 50px;
box-shadow: 5px 0px 5px 0px rgba(255, 255, 255, 0.411);
/* border: 2px solid white; */
border-radius: 10px;
transition: 1s;
}
.bg-link:hover{
background-color: rgba(0, 0, 0, 0.316);
border-radius: 50px;
}